@font-face {
    font-family: MADE TOMMY;
    src: url('../Fuentes/MTOMMY_Regular.otf');
}

@font-face {
    font-family: MADE TOMMY M;
    src: url('../Fuentes/MTOMMY_Medium.otf');
}

@font-face {
    font-family: MADE TOMMY B;
    src: url('../Fuentes/MTOMMY_Bold.otf');
}